.container {
  position: relative;

  .poster_swiper {
    overflow-x: auto;
    display: flex;

    &::-webkit-scrollbar {
      display: none;
    }

    .poster {
      position: relative;

      .image {
        position: relative;
        width: 100vw;
        height: 700px;
        overflow: hidden;
        vertical-align: bottom;

        img {
          width: 100%;
          position: absolute;
          bottom: -200px;
          left: 0;
          right: 0;
        }
      }

      .title_box {
        position: absolute;
        background-color: var(--background-base-color);
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        border-bottom: 1px solid var(--gray-3);

        .title {
          font-weight: bolder;
          font-size: 28px;
        }

        .sub_title {
          font-size: 16px;
        }
      }
    }
  }

  .indicator {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    color: var(--font-color);
    gap: 8px;
    z-index: 9999;

    .item {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background: var(--background-color);
      border: 1px solid var(--gray-3);;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
      }

      &[data-current=true] {
        opacity: 1;
      }
    }
  }
}
