@use "@/styles/responsive" as responsive;
@use "@/styles/no-scrollbar" as no-scrollbar;
@use "@/components/Layout/index.module" as layout;

.posts {
  display: flex;
  margin: 16px;
  gap: 16px;

  .catalogue {
    position: sticky;
    top: calc(#{layout.$header-height} + 16px);
    flex: 1;
    width: 500px;
    border-radius: var(--border-radius-mid);
    border: 1px solid var(--border-color);
    padding: 16px;
    overflow-x: auto;
    height: calc(100vh - #{layout.$header-height} - 64px);

    &::-webkit-scrollbar {
      display: none;
    }

    @include responsive.hide-when-small(block);
  }

  .posts_box {
    flex: 2;
  }

  .right_panel {
    position: sticky;
    top: calc(#{layout.$header-height} + 16px);
    flex: 1;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - #{layout.$header-height} - 64px);
    overflow-y: auto;

    @include responsive.hide-when-small(flex);

    .tags_box {
      height: 400px;
      overflow-y: auto;
    }
  }
}
