.default-theme {
    /** 默认字体 */
    --font-family: "siyuan-song", serif;

    --font-color: #ffffff;
    --header-background-color: rgba(0, 0, 0, 0.8);
    --hover-background-color: rgba(10, 10, 10, 0.8);
}
