.default-theme {
    background-color: #f3f3f3;
    background-image: url("../../assets/background.png");
    background-size: 100%;
    background-repeat: no-repeat;

    /** 默认字体 */
    --font-family: "siyuan-song", serif;

    --font-color: #000000;
    --header-background-color: rgba(255, 255, 255, 0.6);

    --passage-background-color: rgba(255, 255, 255, 0.6);

    --hover-background-color: rgba(240, 240, 240, 0.6);
    --hover-font-color: #000000;

    --background-filter: saturate(1.8) blur(20px);
    --background-color: #ffffff;
}
