.sandbox-container {
  position: relative;

  .splash {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
  }

  .iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}
