.topic_box {
  padding: 16px;
  border-radius: 12px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  min-height: 300px;
  border: 1px solid var(--gray-3);
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(135deg, var(--background-base-color), var(--color));

  &_icon {
    position: absolute;
    font-size: 200px;
    bottom: -80px;
    right: -40px;
    opacity: 0.6;
    -webkit-mask: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  }

  &_title {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;

    &_body {
      flex: 1;
      cursor: pointer;
    }

    &_operation {
      color: var(--font-color);
      cursor: pointer;
      font-size: 22px;
      opacity: 0.7;
      font-weight: lighter;
    }
  }

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
