.footer {
  margin: 24px auto;
  width: 100vw;
  text-align: center;
  color: var(--font-color);

  .beian {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;

    &.tiny {
      flex-direction: column;
      align-items: center;
      gap: unset;
    }

    a {
      text-decoration: none;
      color: var(--font-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
