.layout {
    font-family: var(--font-family);

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        color: var(--font-color);
        z-index: 999;

        user-select: none;

        .base {
            display: flex;
            align-items: center;
            height: 40px;
            margin-bottom: 10px;

            .title {
                line-height: 100%;
            }

            .nav-links {
                flex: 1;
                display: flex;
                align-items: stretch;
                flex-direction: row-reverse;
                gap: 10px;

                .nav-link {
                    display: flex;
                    align-items: baseline;
                    gap: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--hover-background-color);
                        color: var(--hover-font-color);
                    }
                }
            }
        }

        .init-title {
            text-align: center;

            .title {
                position: relative;
                font-size: 50px;
            }
        }
    }

    .content-container {
        height: 100vh;
        width: 100vw;

        overflow: auto;

        .content {
            min-height: calc(100vh - 80px);
        }

        .padding {
            opacity: 0;
            height: 145px;
        }
    }
}
