.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color);

    &.full {
        width: 100%;
        min-height: calc(100vh - 205px);
    }

    .loading {
        margin: 30px auto;
    }
}
