.container {
    margin-left: 50%;
    width: var(--passages-list-width);
    transform: translateX(-50%);

    .selected-tags {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .passages-container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        gap: 10px;

        .passage-operations {
            height: 100%;
            display: flex;
            gap: 16px;
            justify-content: space-evenly;
            align-items: center;
        }
    }

    .pagination {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 20px;
    }
}
