.title {
    .icon {
        margin-right: 10px;
    }
}

.main-large-title {
    position: sticky;
    left: 50vw;
    transform: translate(-50%) scale(2);
}

.blur {
    backdrop-filter: var(--background-filter);
    background-color: var(--header-background-color);
}
