.footer_box {
  text-align: center;
  margin-top: 16px;
  padding: 32px 16px;
  border-top: 1px solid var(--gray-3);
  background-color: var(--background-color);

  .beian {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    display: flex;
    gap: 8px;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
