.footer_box {
  font-weight: lighter;

  .beian {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 16px;
  }
}
